VITE_PUBLIC_PATH = /vue
VITE_ROUTE_WEB_HISTORY = true
VITE_DROP_CONSOLE = true
VITE_BUILD_COMPRESS = 'none'
VITE_BUILD_COMPRESS_DELETE_ORIGIN_FILE = false
VITE_GLOB_API_URL =
VITE_GLOB_API_URL_PREFIX =
VITE_GLOB_API_URL_WEBSOCKET = /api/ws
VITE_USE_PWA = false
VITE_LEGACY = true
VITE_GLOB_TB_BASE_URL = https://example.com
